body {
  text-align: center;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  background-color: #21212a;
  color: #eee;
  /* font-size: 1.2rem; */
}
a {
  color: #eee;
  font-size: 1.3rem;
  line-height: 2rem;
}
.homeLink {
  text-decoration-line: none;
}
.profileImg {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}
.profileWrapper {
  display: flex;
  align-items: center;
  font-size: 2rem;
  justify-content: center;
}
.profileName {
  margin-bottom: 0.1rem;
  margin: 1rem 2rem;;
  font-size: 2rem;
  font-weight: bold;
  unicode-bidi: isolate;
  display: block;
}
.profileNameJa {
  margin: 0;
}
.profileNameEn {
  font-size: 1.5rem;
  margin: 0;
  font-weight: normal;
}
.profileTxt {
  font-style: italic;
  font-family: serif;
  font-size: 1rem;
  color: grey;
}
.index {
  font-size: 1.3rem;
}

.appendix_link{
  display: flex;
  align-items: center;
  color: orange;
  text-decoration: none;
  border: .13rem solid;
  border-radius: .5rem;
  padding: .5rem .8rem;
}
.appendix_links{
  margin: 1rem 0;
  display: flex;
}

.item_wrapper{
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 15rem;
  margin: 1rem 0;
}
.item_texts{
  width: 70%;
  color: #eee;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: left;
  min-height: 10rem;
}
.item_award{
  color: orange;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}
.figure_wrapper{
  width: 30%;
  overflow: hidden;
  position: relative;
}
.figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo_figure {
  position: relative;
  height: 1.8rem;
  width: 1.8rem;
  margin-right: .7rem;
}
.wraper {
  margin: 0 10% 5rem;
}

.subtitle {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.subtitle:before,
.subtitle:after {
  border-top: 1px solid;
  content: "";
  flex-grow: 1;
}
.subtitle:before {
  margin-right: 1rem
}
.subtitle:after {
  margin-left: 1rem
}
.brw-support {
  word-break: keep-all;
  overflow-wrap: break-word;
}


@media screen and (max-width: 640px) {
  .wraper {
    margin: 0 3% 5rem;
  }
  .item_wrapper {
    flex-direction: column-reverse;
  }
  .figure_wrapper {
    height: 10rem;
    width: 100%;
  }
  .item_texts {
    width: auto;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    background-color: #444;
  }
  .figure{
    border-radius: 1rem 1rem 0 0;
  }
}

/* font pages */
.plain_text {
  font-size: 1.3rem;
  line-height: 2rem;
  color: #eee;
  text-align: left;
  margin: 1rem 0;
  overflow-wrap: break-word;
}