body {
  text-align: center;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  background-color: #21212a;
  color: #eee;
  /* font-size: 1.2rem; */
}
a {
  color: #eee;
  font-size: 1.3rem;
  line-height: 2rem;
}
.homeLink {
  text-decoration-line: none;
}
.profileImg {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}
.profileWrapper {
  display: flex;
  align-items: center;
  font-size: 2rem;
  justify-content: center;
}
.profileName {
  margin-bottom: 0.1rem;
  margin: 1rem 2rem;;
  font-size: 2rem;
  font-weight: bold;
  unicode-bidi: isolate;
  display: block;
}
.profileNameJa {
  margin: 0;
}
.profileNameEn {
  font-size: 1.5rem;
  margin: 0;
  font-weight: normal;
}
.profileTxt {
  font-style: italic;
  font-family: serif;
  font-size: 1rem;
  color: grey;
}
.index {
  font-size: 1.3rem;
}

.appendix_link{
  display: flex;
  align-items: center;
  color: orange;
  text-decoration: none;
  border: .13rem solid;
  border-radius: .5rem;
  padding: .5rem .8rem;
}
.appendix_links{
  margin: 1rem 0;
  display: flex;
}

.item_wrapper{
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 15rem;
  margin: 1rem 0;
}
.item_texts{
  width: 70%;
  color: #eee;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: left;
  min-height: 10rem;
}
.item_award{
  color: orange;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}
.figure_wrapper{
  width: 30%;
  overflow: hidden;
  position: relative;
}
.figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo_figure {
  position: relative;
  height: 1.8rem;
  width: 1.8rem;
  margin-right: .7rem;
}
.wraper {
  margin: 0 10% 5rem;
}

.subtitle {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.subtitle:before,
.subtitle:after {
  border-top: 1px solid;
  content: "";
  flex-grow: 1;
}
.subtitle:before {
  margin-right: 1rem
}
.subtitle:after {
  margin-left: 1rem
}
.brw-support {
  word-break: keep-all;
  overflow-wrap: break-word;
}


@media screen and (max-width: 640px) {
  .wraper {
    margin: 0 3% 5rem;
  }
  .item_wrapper {
    flex-direction: column-reverse;
  }
  .figure_wrapper {
    height: 10rem;
    width: 100%;
  }
  .item_texts {
    width: auto;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    background-color: #444;
  }
  .figure{
    border-radius: 1rem 1rem 0 0;
  }
}

/* font pages */
.plain_text {
  font-size: 1.3rem;
  line-height: 2rem;
  color: #eee;
  text-align: left;
  margin: 1rem 0;
  overflow-wrap: break-word;
}

.font-thumb{
  width: 100%;
  max-width: 800px;
  border-radius: 0.5rem;
}

.font_sample_textarea {
  width: 100%;
  height: 10rem;
  font-size: 35px;
  font-family: Unstable-Gothic;
}

.interactive-font-settings {
  text-align: left;
}

.dl-btn {
  display: inline-block;
  padding: 1rem 1.2rem;
  background-color: #ff8c00;
  color: #4d4d4d;
  border-radius: 0.5rem;
  text-decoration: none;
  margin: 1rem auto;
  font-size: 2rem;
  font-weight: bolder;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* チェックボックス */
/* チェックボックス全体のコンテナ */
.custom-input {
  display: inline-block;
  position: relative;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  border: 1px solid #ff8c00;
  margin: 0 0.5rem 0.5rem 0;
}

/* 実際のチェックボックス */
.custom-input input[type="checkbox"] {
  display: none;
}

.custom-input input[type="range"] {
  -webkit-appearance: none; /* 🚩これ無しだとスタイルがほぼ全く反映されないので注意 */
  appearance: none;
  cursor: pointer; /* カーソルを分かりやすく */
  outline: none; /* スライダーのアウトラインは見た目がキツイので消す */
  height: 4px; /* バーの高さ */
  border-radius: 10px;
  width: 12rem;
  background: #ff8c00; /* バーの背景色 */
}
/* スライダー: WebKit向けのつまみ */
.custom-input input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /*  🚩デフォルトのつまみのスタイルを解除 */
  background: #ff8c00;
  width: 20px; /* 幅 */
  height: 20px; /* 高さ */
  border-radius: 50%; /* 円形に */
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); /* 影 */
}
/* スライダー: Moz向けのつまみ */
.custom-input input[type="range"]::-moz-range-thumb {
  background: #ff8c00;
  width: 20px; /* 幅 */
  height: 20px; /* 高さ */
  border-radius: 50%; /* 円形に */
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); /* 影 */
  border: none; /* デフォルトの線を消す */
}

/* カスタムチェックボックスの四角 */
.custom-input .checkmark {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #ff8c00;
  border-radius: 2px;
  margin-right: 8px;
  vertical-align: middle;
}

/* チェックマーク */
.custom-input .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* チェック時のチェックマーク表示 */
.custom-input input:checked ~ .checkmark:after {
  display: block;
}

/* チェック時のチェックボックス背景色 */
.custom-input input:checked ~ .checkmark {
  background-color: #ff8c00;
  border-color: #ff8c00;
}

/* ラベルスタイル */
.checkbox-label {
  vertical-align: middle;
  display: inline-block;
  line-height: 1.5;
}

@media screen and (max-width: 640px) {
  /* 箇条書きの入れ子の幅を少なくする */
  ul, ol {
    padding-left: 2rem;
  }
}